Neccessary Imports

In [ ]:
import numpy as np
import pandas as pd
import lightgbm as lgb

In [ ]:
# loading prior purchase history data of users
print('Loading prior purchased history data ')
print('\n')
ordered_products_prior_data = pd.read_csv('/content/order_products__prior.csv')
ordered_products_prior_order_id = list(ordered_products_prior_data['order_id'])
ordered_products_prior_product_id =  list(ordered_products_prior_data['product_id'])
ordered_products_prior_add_to_cart_order = list(ordered_products_prior_data['add_to_cart_order'])
ordered_products_prior_reordered = list(ordered_products_prior_data['reordered'])
print(ordered_products_prior_order_id)
print('\n')
print(ordered_products_prior_product_id)
print('\n')
print(ordered_products_prior_add_to_cart_order)
print('\n')
print(ordered_products_prior_reordered)

# we will change the data type 
# of id column to str by giving
# the dict to the astype method

ordered_products_prior_data.order_id = ordered_products_prior_data.order_id.astype(np.int32)
ordered_products_prior_data.product_id = ordered_products_prior_data.product_id.astype(np.uint16)
ordered_products_prior_data.add_to_cart_order = ordered_products_prior_data.add_to_cart_order.astype(np.int16)
ordered_products_prior_data["reordered"] = ordered_products_prior_data["reordered"].astype(np.int8)

Loading prior purchased history data


[55605, 55605, 55605, 55605, 55605, 55606, 55606, 55606, 55607, 55607, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55608, 55609, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55721, 55734, 55750, 55751, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55775, 55818, 55818, 55820, 55820, 55820, 55820, 55820, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55911, 55912, 55912, 55913, 55913, 55913, 55913, 55913, 55915, 55915, 55915, 55915, 55916, 55916, 55916, 55916, 55918, 55918, 56025, 56025, 56025, 56025, 56027, 56027, 56027, 56027, 56027, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56086, 56138, 56138, 56138, 56138, 56139, 56139, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56159, 56160, 56160, 56160, 56162, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56243, 56249, 56289, 56289, 56289, 56289, 56289, 56290, 56290, 56290, 56290, 56292, 56292, 56292, 56292, 56292, 56292, 56292, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56359, 56363, 56363, 56363, 56363, 56366, 56366, 56366, 56366, 56453, 56485, 56485, 56485, 56485, 56485, 56485, 56485, 56485, 56486, 56486, 56487, 56487, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56570, 56573, 56573, 56573, 56573, 56573, 56573, 56573, 56631, 56631, 56631, 56631, 56631, 56634, 56634, 56634, 56634, 56634, 56634, 56634, 56635, 56635, 56635, 56635, 56635, 56635, 56635, 56635, 56747, 56747, 56747, 56747, 56747, 56747, 56747, 56747, 56749, 56749, 56749, 56749, 56749, 56749, 56749, 56751, 56751, 56757, 56757, 56854, 56854, 56854, 56854, 56854, 56854, 56854, 56856, 56907, 56907, 56907, 56907, 56907, 56907, 56907, 56908, 56908, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56973, 56997, 56997, 56997, 56997, 56999, 57096, 57096, 57096, 57096, 57096, 57096, 57096, 57096, 57096, 57105, 57105, 57105, 57105, 57105, 57107, 57107, 57107, 57134, 57197, 57197, 57197, 57197, 57197, 57197, 57198, 57198, 57198, 57198, 57198, 57198, 57236, 57236, 57236, 57236, 57236, 57236, 57236, 57236, 57257, 57257, 57257, 57321, 57321, 57321, 57321, 57321, 57321, 57321, 57323, 57323, 57323, 57323, 57323, 57323, 57363, 57363, 57363, 57363, 57363, 57363, 57363, 57363, 57363, 57363, 57363, 57444, 57444, 57444, 57444, 57444, 57444, 57554, 57554, 57554, 57554, 57554, 57554, 57554, 57555, 57555, 57628, 57665, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57666, 57695, 57739, 57739, 57739, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57746, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57835, 57836, 57836, 57836, 57836, 57836, 57836, 57836, 57892, 57892, 57892, 57892, 57892, 57892, 57892, 57892, 57961, 57961, 57961, 57961, 57961, 57961, 57961, 58027, 58027, 58027, 58027, 58027, 58027, 58027, 58027, 58027, 58125, 58125, 58125, 58125, 58125, 58125, 58125, 58125, 58125, 58127, 58127, 58127, 58127, 58127]


[40601, 40617, 40650, 40733, 40745, 40590, 40630, 40643, 40733, 40769, 40587, 40588, 40589, 40590, 40594, 40601, 40627, 40643, 40690, 40750, 40753, 40760, 40769, 40771, 40773, 40774, 40841, 40962, 40578, 40579, 40587, 40588, 40589, 40594, 40627, 40632, 40672, 40723, 40753, 40760, 40771, 40811, 40745, 40594, 40643, 40587, 40588, 40589, 40594, 40601, 40615, 40630, 40631, 40643, 40726, 40750, 40760, 40774, 40796, 40841, 40733, 40734, 40650, 40733, 40745, 40757, 40769, 40582, 40587, 40594, 40613, 40633, 40637, 40669, 40690, 40696, 40760, 40774, 40924, 40593, 40650, 40586, 40626, 40806, 40844, 40848, 41256, 41266, 41275, 41280, 40646, 40650, 40769, 40924, 40593, 40650, 40601, 40646, 40733, 40797, 40587, 40590, 40621, 40690, 40724, 40587, 40588, 40589, 40601, 40649, 40651, 40669, 40672, 40696, 40723, 40729, 40735, 40760, 40773, 40796, 40799, 40650, 40745, 40757, 40769, 40586, 40630, 40587, 40588, 40589, 40601, 40618, 40632, 40643, 40690, 40722, 40733, 40760, 40796, 40841, 40876, 40962, 40643, 40945, 40962, 40643, 40579, 40582, 40583, 40587, 40588, 40589, 40590, 40613, 40627, 40643, 40650, 40690, 40750, 40753, 40758, 40760, 40771, 40774, 40796, 40798, 40799, 40796, 40586, 40587, 40590, 40635, 40643, 40593, 40601, 40649, 40745, 40593, 40601, 40618, 40650, 40745, 40757, 40769, 40577, 40582, 40587, 40590, 40601, 40613, 40615, 40618, 40630, 40669, 40690, 40724, 40729, 40760, 40769, 40774, 40796, 40799, 40841, 40617, 40650, 40745, 40769, 40650, 40745, 40769, 40859, 40643, 40579, 40587, 40588, 40589, 40594, 40760, 40774, 40924, 40593, 40733, 40586, 40590, 40582, 40587, 40588, 40589, 40601, 40613, 40627, 40632, 40690, 40729, 40735, 40753, 40760, 40771, 40811, 40841, 40601, 40617, 40646, 40731, 40745, 40769, 40797, 40586, 40806, 40844, 40848, 40863, 40646, 40650, 40729, 40745, 40769, 40773, 40797, 40593, 40611, 40650, 40658, 40729, 40745, 40769, 40924, 40582, 40587, 40590, 40601, 40613, 40724, 40733, 40774, 40587, 40590, 40643, 40690, 40724, 40735, 40760, 40733, 40757, 40593, 40769, 40578, 40587, 40588, 40589, 40760, 40799, 40928, 40630, 40601, 40617, 40649, 40650, 40733, 40745, 40773, 40601, 40757, 40587, 40588, 40589, 40590, 40594, 40601, 40630, 40643, 40690, 40750, 40760, 40774, 40801, 40806, 40924, 40601, 40650, 40757, 40773, 40962, 40587, 40588, 40589, 40630, 40672, 40729, 40760, 40774, 40841, 40586, 40590, 40635, 40643, 40690, 40617, 40650, 40745, 40643, 40601, 40602, 40649, 40650, 40729, 40733, 40601, 40650, 40729, 40733, 40745, 40924, 40578, 40587, 40594, 40760, 40773, 40774, 40799, 40811, 40601, 40650, 40745, 40586, 40587, 40590, 40626, 40806, 40844, 40848, 40593, 40601, 40646, 40729, 40745, 40757, 40582, 40587, 40588, 40589, 40594, 40601, 40633, 40669, 40690, 40714, 40734, 40601, 40617, 40650, 40745, 40757, 40924, 40579, 40613, 40631, 40632, 40760, 40774, 40811, 40593, 40773, 40586, 40586, 40579, 40587, 40588, 40594, 40627, 40631, 40643, 40648, 40672, 40753, 40760, 40774, 40806, 40594, 40590, 40635, 40643, 40579, 40582, 40583, 40587, 40588, 40589, 40613, 40630, 40632, 40648, 40690, 40723, 40724, 40735, 40750, 40760, 40769, 40773, 40924, 40583, 40587, 40588, 40589, 40594, 40627, 40648, 40753, 40760, 40771, 40774, 40924, 40577, 40601, 40602, 40618, 40646, 40650, 40773, 40583, 40590, 40615, 40643, 40650, 40760, 40811, 40841, 40586, 40724, 40760, 40806, 40844, 40848, 40863, 40587, 40588, 40589, 40594, 40630, 40648, 40690, 40760, 40774, 40583, 40632, 40637, 40729, 40760, 40769, 40839, 40870, 40924, 40587, 40590, 40643, 40690, 40760]


[1.0, 3.0, 10.0, 2.0, 1.0, 5.0, 10.0, 30.0, 2.0, 3.0, 5.0, 2.0, 2.0, 5.0, 70.0, 3.0, 6.0, 30.0, 10.0, 2.0, 6.0, 2.0, 3.0, 6.0, 2.0, 40.0, 1.0, 10.0, 3.0, 5.0, 4.0, 2.0, 2.0, 90.0, 5.0, 2.0, 3.0, 2.0, 4.0, 2.0, 4.0, 2.0, 3.0, 90.0, 70.0, 5.0, 3.0, 2.0, 80.0, 2.0, 2.0, 10.0, 50.0, 30.0, 0.5, 2.0, 2.0, 30.0, 10.0, 2.0, 1.0, 2.0, 6.0, 2.0, 1.0, 1.0, 1.0, 1.0, 2.0, 80.0, 2.0, 1.0, 0.5, 2.0, 15.0, 3.0, 2.0, 40.0, 4.0, 2.0, 2.0, 10.0, 25.0, 30.0, 25.0, 20.0, 3.0, 1.0, 10.0, 1.0, 1.0, 5.0, 1.0, 1.0, 2.0, 5.0, 1.0, 1.0, 2.0, 1.0, 5.0, 7.0, 1.0, 7.0, 1.0, 5.0, 3.0, 3.0, 2.0, 1.0, 1.0, 1.0, 3.0, 2.0, 1.0, 1.0, 3.0, 2.0, 2.0, 10.0, 2.0, 5.0, 1.0, 1.0, 1.0, 12.0, 15.0, 5.0, 2.0, 2.0, 3.0, 1.0, 3.0, 40.0, 10.0, 0.5, 2.0, 1.0, 10.0, 3.0, 30.0, 15.0, 50.0, 6.0, 15.0, 100.0, 3.0, 1.0, 1.0, 5.0, 3.0, 3.0, 5.0, 1.0, 4.0, 80.0, 2.0, 10.0, 3.0, 4.0, 5.0, 2.0, 4.0, 40.0, 10.0, 10.0, 2.0, 10.0, 10.0, 3.0, 5.0, 60.0, 30.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 10.0, 1.0, 1.0, 1.0, 2.0, 1.0, 5.0, 10.0, 3.0, 1.0, 3.0, 1.0, 10.0, 2.0, 5.0, 1.0, 2.0, 4.0, 2.0, 40.0, 10.0, 3.0, 2.0, 1.0, 10.0, 1.0, 1.0, 5.0, 2.0, 3.0, 2.0, 25.0, 8.0, 2.0, 1.0, 2.0, 60.0, 3.0, 30.0, 3.0, 1.0, 2.0, 10.0, 5.0, 1.0, 5.0, 2.0, 2.0, 2.0, 1.0, 6.0, 2.0, 10.0, 2.0, 2.0, 4.0, 2.0, 4.0, 3.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 10.0, 20.0, 15.0, 16.0, 15.0, 1.0, 7.0, 1.0, 1.0, 1.0, 3.0, 1.0, 2.0, 2.0, 5.0, 2.0, 2.0, 3.0, 3.0, 1.0, 1.0, 3.0, 5.0, 3.0, 1.0, 1.0, 2.0, 40.0, 5.0, 8.0, 30.0, 10.0, 1.0, 1.0, 1.0, 2.0, 1.0, 2.0, 3.0, 2.0, 4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 10.0, 1.0, 1.0, 1.0, 5.0, 1.0, 1.0, 3.0, 2.0, 3.0, 5.0, 2.0, 2.0, 5.0, 100.0, 3.0, 10.0, 40.0, 10.0, 4.0, 3.0, 40.0, 1.0, 1.0, 5.0, 1.0, 10.0, 1.0, 5.0, 10.0, 3.0, 2.0, 2.0, 30.0, 3.0, 3.0, 3.0, 30.0, 3.0, 12.0, 8.0, 60.0, 30.0, 5.0, 1.0, 7.0, 1.0, 40.0, 3.0, 3.0, 2.0, 5.0, 3.0, 3.0, 1.0, 10.0, 1.0, 2.0, 1.0, 1.0, 3.0, 2.0, 80.0, 2.0, 2.0, 30.0, 2.0, 2.0, 0.25, 7.0, 1.0, 10.0, 3.0, 5.0, 20.0, 30.0, 20.0, 10.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 3.0, 2.0, 2.0, 80.0, 3.0, 1.0, 2.0, 10.0, 3.0, 3.0, 1.0, 1.0, 5.0, 1.0, 1.0, 1.0, 4.0, 2.0, 30.0, 2.0, 2.0, 30.0, 1.0, 1.0, 15.0, 10.0, 10.0, 8.0, 5.0, 2.0, 50.0, 5.0, 50.0, 50.0, 4.0, 3.0, 6.0, 3.0, 30.0, 1.0, 100.0, 5.0, 60.0, 30.0, 6.0, 2.0, 3.0, 5.0, 2.0, 2.0, 2.0, 10.0, 2.0, 4.0, 10.0, 1.0, 2.0, 3.0, 2.0, 2.0, 1.0, 2.0, 2.0, 2.0, 3.0, 2.0, 2.0, 60.0, 6.0, 4.0, 4.0, 2.0, 4.0, 30.0, 3.0, 2.0, 1.0, 2.0, 1.0, 1.0, 10.0, 5.0, 2.0, 5.0, 3.0, 50.0, 3.0, 2.0, 2.0, 2.0, 10.0, 1.0, 1.0, 24.0, 8.0, 8.0, 15.0, 4.0, 2.0, 2.0, 0.0, 10.0, 1.0, 10.0, 3.0, 30.0, 2.0, 3.0, 0.5, 1.0, 3.0, 1.0, 1.0, 0.0, 3.0, 8.0, 10.0, 30.0, 10.0, 1.0]


[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1]

In [ ]:
ordered_products_prior_data.head()

   order_id  product_id  add_to_cart_order  reordered
0     55605       40601                  1          0
1     55605       40617                  3          0
2     55605       40650                 10          0
3     55605       40733                  2          0
4     55605       40745                  1          0

In [ ]:
ordered_products_prior_data.shape
features_prior = list(ordered_products_prior_data.columns.values)
print(features_prior)
# pre-processing datasets, replacing the null values with null string
for feature in features_prior:
  ordered_products_prior_data[feature] = ordered_products_prior_data[feature].fillna('')

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [ ]:
ordered_products_prior_data.dtypes
# type(ordered_products_prior_data)

order_id              int32
product_id           uint16
add_to_cart_order     int16
reordered              int8
dtype: object

In [ ]:
# Loading training data
print('Loading trainig data ')
print('\n')
training_data = pd.read_csv('/content/order_products__train.csv')

training_order_id = list(training_data['order_id'])
training_product_id = list(training_data['product_id'])
training_add_to_cart_order = list(training_data['add_to_cart_order'])
training_reordered = list(training_data['reordered\r'])
print(training_order_id)
print('\n')
print(training_product_id)
print('\n')
print(training_add_to_cart_order)
print('\n')
print(training_reordered)

training_data.order_id = training_data.order_id.astype(np.int32)
training_data.product_id = training_data.product_id.astype(np.uint16)
training_data.add_to_cart_order = training_data.add_to_cart_order.astype(np.int16)
training_data["reordered"] = training_data["reordered\r"].astype(np.int8)

Loading trainig data


[58129, 58129, 58129, 58129, 58156, 58156, 58156, 58156, 58158, 58158, 58186, 58229, 58229, 58229, 58229, 58229, 58229, 58229, 58229, 58229, 58231, 58231, 58232, 58232, 58277, 58277, 58303, 58305, 58305, 58305, 58305, 58305, 58306, 58306, 58306, 58306, 58306, 58306, 58306, 58306, 58358, 58358, 58358, 58358, 58378, 58445, 58446, 58446, 58446, 58446, 58446, 58446, 58446, 58504, 58504, 58504, 58504, 58504, 58504, 58504, 58504, 58504, 58504, 58504, 58526, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58595, 58609, 58609, 58609, 58609, 58609, 58609, 58609, 58609, 58648, 58648, 58648, 58648, 58648, 58649, 58649, 58649, 58650, 58650, 58650, 58650, 58650, 58650, 58650, 58650, 58650, 58655, 58655, 58655, 58655, 58655, 58655, 58705, 58705, 58705, 58705, 58705, 58705, 58705, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58749, 58750, 58750, 58750, 58750, 58750, 58753, 58753, 58753, 58753, 58868, 58868, 58868, 58868, 58868, 58868, 58868, 58868, 58870, 58870, 58870, 58870, 58877, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58986, 58988, 58988, 58988, 58990, 58990, 58990, 58990, 58990, 58990, 58990, 59154, 59154, 59154, 59154, 59154, 59174, 59174, 59174, 59174, 59174, 59174, 59174, 59174, 59174, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59213, 59214, 59214, 59214, 59214, 59214, 59276, 59276, 59276, 59276, 59276, 59276, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59279, 59311, 59311, 59373, 59373, 59373, 59373, 59373, 59373, 59373, 59373, 59373, 59373, 59373, 59375, 59375, 59376, 59376, 59378, 59378, 59378, 59378, 59378, 59378, 59378, 59378, 59378, 59464, 59464, 59464, 59464, 59465, 59465, 59465, 59465, 59465, 59465, 59465, 59465, 59465, 59496, 59496, 59496, 59570, 59570, 59570, 59570, 59570, 59570, 59570, 59570, 59571, 59571, 59571, 59572, 59572, 59670, 59670, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59672, 59703, 59703, 59703, 59704, 59704, 59704, 59704, 59779, 59779, 59779, 59779, 59779, 59779, 59779, 59779, 59779, 59779, 59779, 59780, 59781, 59781, 59781, 59781, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59884, 59886, 59886, 59886, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59934, 59945, 59945, 59945, 59945, 60040, 60040, 60040, 60040, 60040, 60040, 60040, 60040, 60040, 60040, 60041, 60041, 60041, 60041, 60041, 60041, 60163, 60163, 60163, 60163, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60173, 60242, 60242, 60242, 60242, 60242, 60242, 60242, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60358, 60393, 60393, 60395, 60395, 60395, 60423, 60423, 60423, 60473, 60473, 60473, 60473, 60473, 60473, 60473, 60473, 60473, 60475, 60475, 60489, 60489, 60489, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60572, 60574, 60574, 60574, 60574, 60575, 60575, 60575, 60575, 60620, 60620, 60620, 60620, 60621, 60621, 60621, 60621, 60621, 60621, 60621, 60621, 60621, 60621, 60621, 60709, 60709, 60709, 60709, 60709, 60709, 60709, 60709, 60709, 60709, 60710, 60710, 60710, 60710, 60758, 60758, 60758, 60758, 60759, 60759, 60792, 60792, 60792, 60792, 60792, 60792, 60813, 60813, 60813, 60813, 60813, 60813, 60813, 60869, 60869, 60917, 60917, 60917, 60917, 60917, 60918, 60918, 60918, 60919, 61029, 61029, 61029, 61029, 61029, 61029, 61029, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61092, 61168, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61191, 61207, 61207, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61279, 61365, 61365, 61365, 61365, 61365, 61365, 61365, 61365, 61366, 61366, 61366, 61366, 61366, 61366, 61366, 61448, 61448, 61448, 61448, 61448, 61448, 61448, 61454, 61454, 61454, 61454, 61454, 61454, 61454, 61454, 61454, 61454, 61481, 61481, 61481, 61481, 61546, 61546, 61546, 61546, 61546, 61546, 61546, 61546, 61546, 61546, 61546, 61547, 61572, 61614, 61614, 61614, 61615, 61615, 61615, 61615, 61615, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61648, 61723, 61723, 61723, 61723, 61723, 61723, 61723, 61723, 61723, 61723, 61723, 61727, 61727, 61727, 61727, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61807, 61810, 61810, 61810, 61810, 61855, 61855, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61893, 61894, 61970, 61970, 61970, 61970, 61970, 61970, 61970, 61970, 61970, 62008, 62008, 62008, 62080, 62080, 62080, 62080, 62080, 62080, 62080, 62080, 62080, 62080, 62080, 62081, 62081, 62155, 62155, 62155, 62155, 62155, 62156, 62156, 62159, 62159, 62159, 62159, 62159, 62159, 62234, 62234, 62234, 62234, 62234, 62234, 62289, 62289, 62289, 62289, 62289, 62289, 62289, 62289, 62289, 62289, 62303, 62364, 62364, 62364, 62364, 62364]


[40724, 40733, 40769, 40773, 40583, 40602, 40760, 40870, 40602, 40733, 40672, 40582, 40583, 40587, 40601, 40613, 40672, 40690, 40760, 40774, 40593, 40650, 40593, 40650, 40583, 40714, 40643, 40617, 40646, 40650, 40773, 40797, 40583, 40587, 40588, 40589, 40632, 40648, 40724, 40760, 40586, 40587, 40643, 40735, 40594, 40643, 40590, 40594, 40669, 40690, 40760, 40774, 40841, 40579, 40582, 40587, 40588, 40589, 40594, 40613, 40726, 40760, 40773, 40811, 40643, 40587, 40588, 40589, 40590, 40601, 40630, 40631, 40643, 40690, 40735, 40760, 40774, 40796, 40799, 40806, 40811, 40601, 40602, 40617, 40650, 40731, 40745, 40769, 40773, 40579, 40587, 40628, 40760, 40799, 40593, 40647, 40650, 40586, 40590, 40626, 40630, 40643, 40760, 40806, 40844, 40848, 40593, 40646, 40649, 40650, 40773, 40797, 40586, 40594, 40630, 40631, 40774, 40806, 40848, 40582, 40587, 40588, 40589, 40594, 40613, 40632, 40643, 40690, 40760, 40774, 40923, 40587, 40590, 40643, 40690, 40760, 40593, 40646, 40773, 40797, 40587, 40588, 40589, 40630, 40690, 40760, 40774, 40799, 40593, 40646, 40650, 40724, 40586, 40579, 40582, 40588, 40589, 40613, 40615, 40629, 40630, 40658, 40672, 40690, 40729, 40760, 40769, 40923, 40590, 40635, 40643, 40617, 40650, 40745, 40769, 40773, 40797, 40923, 40594, 40601, 40648, 40669, 40806, 40587, 40588, 40589, 40629, 40632, 40643, 40714, 40774, 40841, 40578, 40587, 40588, 40589, 40590, 40613, 40615, 40627, 40648, 40672, 40690, 40724, 40735, 40760, 40771, 40611, 40649, 40650, 40773, 40797, 40611, 40617, 40646, 40649, 40773, 40797, 40582, 40587, 40588, 40589, 40594, 40631, 40648, 40649, 40669, 40690, 40760, 40773, 40774, 40841, 40577, 40773, 40579, 40594, 40615, 40627, 40643, 40723, 40753, 40760, 40771, 40870, 40923, 40611, 40650, 40611, 40649, 40586, 40590, 40643, 40724, 40760, 40806, 40844, 40848, 40863, 40587, 40590, 40690, 40735, 40587, 40618, 40630, 40632, 40648, 40690, 40760, 40774, 40796, 40647, 40650, 40745, 40587, 40588, 40589, 40594, 40690, 40726, 40735, 40760, 40611, 40617, 40773, 40611, 40724, 40635, 40643, 40577, 40579, 40582, 40586, 40587, 40594, 40613, 40629, 40630, 40633, 40726, 40760, 40774, 40611, 40647, 40649, 40611, 40650, 40773, 40797, 40587, 40588, 40589, 40590, 40615, 40637, 40643, 40760, 40773, 40799, 40841, 40630, 40601, 40611, 40617, 40726, 40582, 40587, 40588, 40589, 40613, 40615, 40632, 40669, 40690, 40696, 40760, 40774, 40611, 40650, 40773, 40587, 40588, 40589, 40594, 40630, 40631, 40632, 40643, 40648, 40672, 40690, 40760, 40806, 40841, 40962, 40647, 40649, 40650, 40724, 40643, 40646, 40650, 40724, 40735, 40760, 40806, 40844, 40848, 40863, 40578, 40587, 40594, 40648, 40760, 40774, 40611, 40617, 40650, 40773, 40579, 40587, 40588, 40589, 40614, 40615, 40627, 40723, 40753, 40760, 40771, 40841, 40590, 40618, 40630, 40690, 40724, 40760, 40774, 40579, 40582, 40587, 40588, 40589, 40594, 40613, 40627, 40632, 40643, 40690, 40753, 40760, 40771, 40841, 40647, 40745, 40586, 40635, 40643, 40650, 40731, 40773, 40587, 40590, 40594, 40627, 40643, 40753, 40760, 40771, 40774, 40611, 40647, 40611, 40617, 40724, 40588, 40589, 40594, 40601, 40615, 40643, 40669, 40672, 40690, 40735, 40760, 40796, 40870, 40611, 40650, 40769, 40773, 40649, 40650, 40658, 40769, 40586, 40630, 40643, 40760, 40587, 40594, 40613, 40615, 40630, 40643, 40646, 40648, 40760, 40774, 40806, 40582, 40587, 40588, 40589, 40594, 40613, 40627, 40753, 40771, 40773, 40590, 40806, 40848, 40863, 40646, 40650, 40773, 40797, 40594, 40773, 40587, 40590, 40643, 40690, 40724, 40760, 40632, 40643, 40690, 40760, 40774, 40841, 40928, 40714, 40760, 40587, 40588, 40631, 40724, 40760, 40650, 40724, 40812, 40586, 40579, 40587, 40628, 40643, 40690, 40760, 40774, 40583, 40587, 40588, 40589, 40617, 40633, 40646, 40648, 40649, 40724, 40726, 40760, 40594, 40579, 40587, 40588, 40589, 40590, 40594, 40615, 40629, 40643, 40648, 40650, 40669, 40672, 40760, 40774, 40806, 40587, 40690, 40578, 40582, 40587, 40588, 40589, 40594, 40629, 40630, 40631, 40632, 40637, 40643, 40648, 40649, 40696, 40724, 40735, 40760, 40774, 40590, 40594, 40601, 40613, 40643, 40750, 40773, 40841, 40590, 40630, 40643, 40806, 40844, 40848, 40863, 40586, 40587, 40590, 40601, 40617, 40650, 40690, 40587, 40588, 40589, 40590, 40615, 40630, 40643, 40669, 40760, 40774, 40648, 40692, 40753, 40806, 40579, 40587, 40588, 40589, 40601, 40617, 40643, 40646, 40650, 40760, 40773, 40586, 40594, 40647, 40650, 40724, 40586, 40635, 40724, 40735, 40760, 40587, 40601, 40613, 40627, 40649, 40650, 40690, 40753, 40760, 40771, 40774, 40797, 40579, 40587, 40588, 40589, 40594, 40601, 40643, 40690, 40760, 40771, 40774, 40601, 40617, 40724, 40773, 40577, 40582, 40587, 40588, 40589, 40590, 40594, 40613, 40627, 40632, 40643, 40648, 40658, 40669, 40672, 40729, 40760, 40796, 40841, 40870, 40650, 40729, 40745, 40801, 40724, 40923, 40587, 40588, 40589, 40594, 40601, 40614, 40627, 40631, 40643, 40723, 40760, 40771, 40774, 40806, 40889, 40962, 40579, 40582, 40587, 40588, 40589, 40613, 40632, 40724, 40841, 40595, 40650, 40797, 40583, 40585, 40587, 40594, 40617, 40643, 40649, 40690, 40760, 40774, 40797, 40587, 40690, 40601, 40617, 40646, 40650, 40773, 40586, 40630, 40582, 40590, 40613, 40615, 40630, 40760, 40586, 40590, 40635, 40643, 40724, 40735, 40587, 40588, 40589, 40601, 40643, 40669, 40723, 40760, 40774, 40841, 40669, 40617, 40649, 40650, 40773, 40797]


[1.0, 2.0, 1.0, 5.0, 2.0, 1.0, 0.0, 1.0, 1.0, 3.0, 5.0, 1.0, 1.0, 4.0, 3.0, 1.0, 3.0, 10.0, 3.0, 40.0, 2.0, 5.0, 2.0, 5.0, 5.0, 3.0, 30.0, 1.0, 2.0, 10.0, 5.0, 2.0, 1.0, 5.0, 3.0, 2.0, 3.0, 3.0, 2.0, 3.0, 12.0, 5.0, 30.0, 1.0, 80.0, 40.0, 5.0, 50.0, 2.0, 15.0, 3.0, 30.0, 2.0, 8.0, 1.0, 5.0, 3.0, 3.0, 70.0, 1.0, 1.0, 3.0, 1.0, 3.0, 30.0, 5.0, 3.0, 3.0, 5.0, 2.0, 10.0, 50.0, 50.0, 15.0, 2.0, 3.0, 40.0, 10.0, 3.0, 2.0, 3.0, 1.0, 0.0, 1.0, 5.0, 1.0, 1.0, 1.0, 3.0, 10.0, 3.0, 0.5, 1.0, 3.0, 1.0, 2.0, 5.0, 12.0, 8.0, 20.0, 15.0, 30.0, 1.0, 30.0, 20.0, 20.0, 1.0, 1.0, 1.0, 5.0, 3.0, 1.0, 1.0, 20.0, 2.0, 2.0, 6.0, 2.0, 2.0, 1.0, 5.0, 3.0, 2.0, 50.0, 1.0, 4.0, 30.0, 10.0, 2.0, 40.0, 2.0, 8.0, 5.0, 30.0, 10.0, 1.0, 2.0, 1.0, 4.0, 1.0, 5.0, 3.0, 3.0, 5.0, 5.0, 3.0, 30.0, 3.0, 1.0, 2.0, 8.0, 1.0, 12.0, 8.0, 2.0, 2.0, 2.0, 1.0, 3.0, 4.0, 10.0, 2.0, 3.0, 10.0, 1.0, 3.0, 1.0, 3.0, 3.0, 70.0, 30.0, 1.0, 8.0, 1.0, 3.0, 5.0, 1.0, 1.0, 80.0, 2.0, 2.0, 1.0, 1.0, 5.0, 2.0, 2.0, 5.0, 3.0, 30.0, 2.0, 40.0, 3.0, 2.0, 5.0, 3.0, 3.0, 7.0, 2.0, 2.0, 4.0, 1.0, 3.0, 10.0, 2.0, 2.0, 4.0, 4.0, 1.0, 1.0, 7.0, 5.0, 2.0, 1.0, 1.0, 1.0, 1.0, 5.0, 1.0, 1.0, 4.0, 2.0, 2.0, 60.0, 30.0, 4.0, 1.0, 2.0, 10.0, 2.0, 3.0, 50.0, 3.0, 5.0, 10.0, 8.0, 50.0, 2.0, 5.0, 50.0, 0.5, 4.0, 3.0, 4.0, 1.0, 3.0, 1.0, 10.0, 2.0, 2.0, 12.0, 5.0, 30.0, 1.0, 1.0, 24.0, 8.0, 9.0, 8.0, 8.0, 10.0, 10.0, 1.0, 5.0, 1.0, 5.0, 3.0, 3.0, 10.0, 3.0, 40.0, 10.0, 3.0, 5.0, 2.0, 4.0, 2.0, 2.0, 50.0, 10.0, 1.0, 2.0, 2.0, 2.0, 1.0, 3.0, 1.0, 2.0, 60.0, 30.0, 2.0, 8.0, 1.0, 10.0, 5.0, 80.0, 1.0, 8.0, 10.0, 1.0, 1.0, 2.0, 30.0, 1.0, 2.0, 2.0, 1.0, 7.0, 5.0, 1.0, 3.0, 2.0, 2.0, 5.0, 2.0, 0.5, 50.0, 2.0, 2.0, 2.0, 2.0, 20.0, 1.0, 1.0, 1.0, 0.5, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 2.0, 15.0, 1.0, 1.0, 40.0, 1.0, 7.0, 5.0, 4.0, 2.0, 2.0, 80.0, 3.0, 50.0, 3.0, 80.0, 4.0, 5.0, 2.0, 2.0, 1.0, 1.0, 15.0, 1.0, 1.0, 5.0, 2.0, 30.0, 0.0, 2.0, 1.0, 1.0, 1.0, 24.0, 10.0, 15.0, 16.0, 2.0, 5.0, 50.0, 3.0, 3.0, 40.0, 1.0, 1.0, 7.0, 5.0, 8.0, 4.0, 2.0, 2.0, 0.1, 3.0, 4.0, 1.0, 3.0, 2.0, 3.0, 2.0, 5.0, 0.5, 10.0, 15.0, 2.0, 2.0, 30.0, 8.0, 2.0, 2.0, 2.0, 2.0, 70.0, 2.0, 5.0, 3.0, 40.0, 20.0, 4.0, 1.0, 4.0, 3.0, 2.0, 3.0, 10.0, 70.0, 30.0, 10.0, 1.0, 5.0, 5.0, 10.0, 60.0, 3.0, 30.0, 6.0, 2.0, 6.0, 40.0, 2.0, 2.0, 1.0, 1.0, 1.0, 3.0, 2.0, 80.0, 3.0, 2.0, 30.0, 2.0, 5.0, 10.0, 2.0, 3.0, 10.0, 2.0, 1.0, 7.0, 1.0, 5.0, 2.0, 5.0, 3.0, 3.0, 12.0, 15.0, 30.0, 1.0, 5.0, 60.0, 2.0, 2.0, 10.0, 30.0, 2.0, 2.0, 3.0, 50.0, 1.0, 1.0, 5.0, 3.0, 2.0, 50.0, 1.0, 5.0, 6.0, 6.0, 3.0, 8.0, 21.0, 20.0, 20.0, 1.0, 7.0, 7.0, 80.0, 6.0, 20.0, 8.0, 10.0, 30.0, 10.0, 1.0, 1.0, 2.0, 40.0, 10.0, 2.0, 40.0, 3.0, 1.0, 50.0, 0.0, 3.0, 2.0, 20.0, 2.0, 3.0, 5.0, 2.0, 1.0, 12.0, 8.0, 2.0, 0.5, 40.0, 10.0, 2.0, 30.0, 1.0, 3.0, 3.0, 3.0, 0.0, 1.0, 0.0, 3.0, 0.0, 0.0, 1.0, 3.0, 100.0, 8.0, 3.0, 2.0, 2.0, 5.0, 80.0, 2.0, 5.0, 30.0, 3.0, 10.0, 2.0, 4.0, 2.0, 30.0, 1.0, 3.0, 15.0, 3.0, 2.0, 3.0, 2.0, 2.0, 60.0, 5.0, 10.0, 50.0, 3.0, 0.5, 30.0, 3.0, 2.0, 2.0, 2.0, 2.0, 3.0, 40.0, 3.0, 100.0, 2.0, 2.0, 50.0, 2.0, 20.0, 2.0, 5.0, 20.0, 30.0, 20.0, 10.0, 20.0, 10.0, 10.0, 8.0, 5.0, 1.0, 1.0, 10.0, 10.0, 3.0, 2.0, 2.0, 0.0, 3.0, 0.0, 30.0, 0.0, 3.0, 50.0, 4.0, 5.0, 3.0, 2.0, 8.0, 5.0, 3.0, 3.0, 2.0, 1.0, 30.0, 2.0, 2.0, 3.0, 7.0, 12.0, 150.0, 3.0, 5.0, 3.0, 10.0, 80.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 5.0, 1.0, 7.0, 10.0, 6.0, 1.0, 6.0, 30.0, 1.0, 10.0, 5.0, 2.0, 2.0, 100.0, 3.0, 50.0, 5.0, 4.0, 8.0, 40.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 4.0, 2.0, 2.0, 5.0, 80.0, 1.0, 4.0, 3.0, 30.0, 2.0, 2.0, 2.0, 5.0, 1.0, 2.0, 10.0, 3.0, 1.0, 7.0, 1.0, 1.0, 1.0, 3.0, 1.0, 5.0, 3.0, 2.0, 70.0, 3.0, 1.0, 3.0, 30.0, 30.0, 0.5, 2.0, 4.0, 50.0, 1.0, 15.0, 15.0, 6.0, 2.0, 4.0, 3.0, 4.0, 2.0, 3.0, 2.0, 2.0, 6.0, 8.0, 3.0, 2.0, 2.0, 3.0, 80.0, 1.0, 50.0, 1.0, 10.0, 3.0, 30.0, 1.0, 8.0, 10.0, 2.0, 1.0, 2.0, 10.0, 6.0, 15.0, 7.0, 3.0, 10.0, 3.0, 3.0, 5.0, 3.0, 12.0, 8.0, 70.0, 30.0, 1.0, 1.0, 5.0, 3.0, 3.0, 2.0, 50.0, 2.0, 1.0, 3.0, 40.0, 2.0, 2.0, 1.0, 1.0, 10.0, 6.0, 1.0]


[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
training_data.head()

   order_id  product_id  add_to_cart_order  reordered\r  reordered
0     58129       40724                  1            1          1
1     58129       40733                  2            1          1
2     58129       40769                  1            1          1
3     58129       40773                  5            1          1
4     58156       40583                  2            1          1

In [ ]:
training_data.shape
features_training = list(training_data.columns.values)
print(features_training)
# pre-processing datasets, replacing the null values with null string
for feature in features_training:
  training_data[feature] = training_data[feature].fillna('')

['order_id', 'product_id', 'add_to_cart_order', 'reordered\r', 'reordered']

In [ ]:
# column_names = list(training_data.columns.values)
# print(column_names)
training_data = training_data.drop(["reordered\r"], axis=1)
print(list(training_data.columns.values))

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [ ]:
training_data.head()

   order_id  product_id  add_to_cart_order  reordered
0     58129       40724                  1          1
1     58129       40733                  2          1
2     58129       40769                  1          1
3     58129       40773                  5          1
4     58156       40583                  2          1

In [ ]:
training_data.dtypes

order_id              int32
product_id           uint16
add_to_cart_order     int16
reordered              int8
dtype: object

In [ ]:
# Loading order data 
print('Loading order data')
print('\n')
orders_data = pd.read_csv('/content/orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32
})
orders_order_id = list(orders_data['order_id'])
orders_user_id = list(orders_data['user_id'])
orders_eval_set = list(orders_data['eval_set'])
orders_order_number = list(orders_data['order_number'])
orders_order_dow = list(orders_data['order_dow'])
orders_order_hour_of_day = list(orders_data['order_hour_of_day'])
orders_days_since_prior_order = list(orders_data['days_since_prior_order'])

print(orders_order_id)
print('\n')
print(orders_user_id)
print('\n')
print(orders_eval_set)
print('\n')
print(orders_order_number)
print('\n')
print(orders_order_dow)
print('\n')
print(orders_order_hour_of_day)
print('\n')
print(orders_days_since_prior_order)

Loading order data


[55605, 55606, 55607, 55608, 55609, 55721, 55734, 55750, 55751, 55775, 55818, 55820, 55911, 55912, 55913, 55915, 55916, 55918, 56025, 56027, 56086, 56138, 56139, 56159, 56160, 56162, 56243, 56249, 56289, 56290, 56292, 56359, 56363, 56366, 56453, 56485, 56486, 56487, 56570, 56573, 56631, 56634, 56635, 56747, 56749, 56751, 56757, 56854, 56856, 56907, 56908, 56973, 56997, 56999, 57096, 57105, 57107, 57134, 57197, 57198, 57236, 57257, 57321, 57323, 57363, 57444, 57554, 57555, 57628, 57665, 57666, 57695, 57739, 57746, 57835, 57836, 57892, 57961, 58027, 58125, 58127, 58129, 58156, 58158, 58186, 58229, 58231, 58232, 58277, 58303, 58305, 58306, 58358, 58378, 58445, 58446, 58504, 58526, 58595, 58609, 58648, 58649, 58650, 58655, 58705, 58749, 58750, 58753, 58868, 58870, 58877, 58986, 58988, 58990, 59154, 59174, 59213, 59214, 59276, 59279, 59311, 59373, 59375, 59376, 59378, 59464, 59465, 59496, 59570, 59571, 59572, 59670, 59672, 59703, 59704, 59779, 59780, 59781, 59884, 59886, 59934, 59945, 60040, 60041, 60163, 60173, 60242, 60358, 60393, 60395, 60423, 60473, 60475, 60489, 60572, 60574, 60575, 60620, 60621, 60709, 60710, 60758, 60759, 60792, 60813, 60869, 60917, 60918, 60919, 61029, 61092, 61168, 61191, 61207, 61279, 61365, 61366, 61448, 61454, 61481, 61546, 61547, 61572, 61614, 61615, 61648, 61723, 61727, 61807, 61810, 61855, 61893, 61894, 61970, 62008, 62080, 62081, 62155, 62156, 62159, 62234, 62289, 62303, 62364, 62408, 62453, 62454, 62455, 62530, 62577, 62602, 62604, 62792, 62794, 62859, 62913, 62915, 62916, 62995, 62996, 63030, 63081, 63082, 63102, 63138, 63162, 63203, 63249, 63265, 63281, 63337, 63338, 63420, 63421, 63461, 63464, 63521, 63522, 63580, 63581, 63584, 63618, 63619, 63715, 63720]


[277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277]


['prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test']


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245]


[5, 5, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 7, 7, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 7, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 7, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 6, 6, 6, 6, 7, 7, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 7, 7, 1, 1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 5, 6, 6, 6, 7, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7, 7, 7, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 1, 1, 1, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6]


[8, 7, 12, 7, 15, 7, 9, 14, 16, 8, 8, 11, 10, 10, 10, 11, 9, 12, 15, 9, 11, 10, 9, 11, 10, 11, 14, 19, 16, 18, 17, 16, 15, 17, 16, 16, 18, 15, 15, 11, 11, 15, 13, 13, 12, 12, 16, 18, 18, 11, 18, 16, 18, 16, 9, 19, 18, 10, 18, 18, 15, 12, 7, 20, 15, 14, 15, 13, 16, 13, 10, 9, 12, 9, 11, 0, 8, 0, 14, 17, 14, 12, 10, 14, 15, 19, 15, 20, 19, 11, 11, 10, 13, 11, 11, 9, 11, 12, 9, 8, 9, 9, 20, 12, 11, 21, 12, 13, 18, 8, 18, 17, 22, 14, 13, 21, 18, 8, 14, 8, 8, 8, 10, 8, 9, 21, 5, 9, 5, 19, 13, 12, 12, 11, 15, 11, 11, 17, 13, 10, 9, 8, 10, 10, 9, 9, 16, 11, 11, 13, 9, 10, 9, 8, 13, 20, 14, 14, 14, 13, 13, 10, 10, 14, 17, 17, 13, 15, 13, 15, 15, 14, 13, 17, 16, 12, 21, 12, 11, 13, 12, 16, 23, 10, 11, 17, 10, 9, 14, 15, 12, 22, 11, 12, 13, 12, 12, 15, 16, 11, 10, 18, 17, 19, 16, 16, 12, 9, 13, 14, 14, 12, 12, 13, 17, 4, 16, 17, 10, 16, 11, 11, 11, 10, 9, 13, 14, 14, 6, 9, 13, 10, 10, 15, 9, 11, 9, 9, 11, 15, 11, 9, 10, 9, 9]


[nan, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]

In [ ]:
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,55605,277,prior,1,5,8,NaN
1,55606,277,prior,2,5,7,0.0
2,55607,277,prior,3,5,12,0.0
3,55608,277,prior,4,5,7,0.0
4,55609,277,prior,5,5,15,0.0

In [ ]:
orders_data.shape

(245, 7)

In [ ]:
orders_data.dtypes

order_id                     int32
user_id                      int32
eval_set                  category
order_number                 int16
order_dow                     int8
order_hour_of_day             int8
days_since_prior_order     float32
dtype: object

In [ ]:
# features_orders = list(orders_data.columns.values)
# print(features_orders)
# # pre-processing datasets, replacing the null values with null string
# for feature in features_orders:
#   orders_data[feature] = orders_data[feature].fillna('')

In [ ]:
print(orders_order_id)
print('\n')
print(orders_user_id)
print('\n')
print(orders_eval_set)
print('\n')
print(orders_order_number)
print('\n')
print(orders_order_dow)
print('\n')
print(orders_order_hour_of_day)
print('\n')
print(orders_days_since_prior_order)

[55605, 55606, 55607, 55608, 55609, 55721, 55734, 55750, 55751, 55775, 55818, 55820, 55911, 55912, 55913, 55915, 55916, 55918, 56025, 56027, 56086, 56138, 56139, 56159, 56160, 56162, 56243, 56249, 56289, 56290, 56292, 56359, 56363, 56366, 56453, 56485, 56486, 56487, 56570, 56573, 56631, 56634, 56635, 56747, 56749, 56751, 56757, 56854, 56856, 56907, 56908, 56973, 56997, 56999, 57096, 57105, 57107, 57134, 57197, 57198, 57236, 57257, 57321, 57323, 57363, 57444, 57554, 57555, 57628, 57665, 57666, 57695, 57739, 57746, 57835, 57836, 57892, 57961, 58027, 58125, 58127, 58129, 58156, 58158, 58186, 58229, 58231, 58232, 58277, 58303, 58305, 58306, 58358, 58378, 58445, 58446, 58504, 58526, 58595, 58609, 58648, 58649, 58650, 58655, 58705, 58749, 58750, 58753, 58868, 58870, 58877, 58986, 58988, 58990, 59154, 59174, 59213, 59214, 59276, 59279, 59311, 59373, 59375, 59376, 59378, 59464, 59465, 59496, 59570, 59571, 59572, 59670, 59672, 59703, 59704, 59779, 59780, 59781, 59884, 59886, 59934, 59945, 60040, 60041, 60163, 60173, 60242, 60358, 60393, 60395, 60423, 60473, 60475, 60489, 60572, 60574, 60575, 60620, 60621, 60709, 60710, 60758, 60759, 60792, 60813, 60869, 60917, 60918, 60919, 61029, 61092, 61168, 61191, 61207, 61279, 61365, 61366, 61448, 61454, 61481, 61546, 61547, 61572, 61614, 61615, 61648, 61723, 61727, 61807, 61810, 61855, 61893, 61894, 61970, 62008, 62080, 62081, 62155, 62156, 62159, 62234, 62289, 62303, 62364, 62408, 62453, 62454, 62455, 62530, 62577, 62602, 62604, 62792, 62794, 62859, 62913, 62915, 62916, 62995, 62996, 63030, 63081, 63082, 63102, 63138, 63162, 63203, 63249, 63265, 63281, 63337, 63338, 63420, 63421, 63461, 63464, 63521, 63522, 63580, 63581, 63584, 63618, 63619, 63715, 63720]


[277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277, 277]


['prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'prior', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'train', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test', 'test']


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245]


[5, 5, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 6, 6, 7, 7, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 1, 1, 2, 2, 3, 3, 4, 5, 5, 5, 5, 5, 6, 6, 7, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 6, 6, 7, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 6, 6, 6, 6, 7, 7, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 6, 6, 7, 7, 1, 1, 2, 2, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 5, 6, 6, 6, 7, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7, 7, 7, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 6, 6, 6, 7, 1, 1, 1, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6]


[8, 7, 12, 7, 15, 7, 9, 14, 16, 8, 8, 11, 10, 10, 10, 11, 9, 12, 15, 9, 11, 10, 9, 11, 10, 11, 14, 19, 16, 18, 17, 16, 15, 17, 16, 16, 18, 15, 15, 11, 11, 15, 13, 13, 12, 12, 16, 18, 18, 11, 18, 16, 18, 16, 9, 19, 18, 10, 18, 18, 15, 12, 7, 20, 15, 14, 15, 13, 16, 13, 10, 9, 12, 9, 11, 0, 8, 0, 14, 17, 14, 12, 10, 14, 15, 19, 15, 20, 19, 11, 11, 10, 13, 11, 11, 9, 11, 12, 9, 8, 9, 9, 20, 12, 11, 21, 12, 13, 18, 8, 18, 17, 22, 14, 13, 21, 18, 8, 14, 8, 8, 8, 10, 8, 9, 21, 5, 9, 5, 19, 13, 12, 12, 11, 15, 11, 11, 17, 13, 10, 9, 8, 10, 10, 9, 9, 16, 11, 11, 13, 9, 10, 9, 8, 13, 20, 14, 14, 14, 13, 13, 10, 10, 14, 17, 17, 13, 15, 13, 15, 15, 14, 13, 17, 16, 12, 21, 12, 11, 13, 12, 16, 23, 10, 11, 17, 10, 9, 14, 15, 12, 22, 11, 12, 13, 12, 12, 15, 16, 11, 10, 18, 17, 19, 16, 16, 12, 9, 13, 14, 14, 12, 12, 13, 17, 4, 16, 17, 10, 16, 11, 11, 11, 10, 9, 13, 14, 14, 6, 9, 13, 10, 10, 15, 9, 11, 9, 9, 11, 15, 11, 9, 10, 9, 9]


[nan, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]

In [ ]:
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,55605,277,prior,1,5,8,NaN
1,55606,277,prior,2,5,7,0.0
2,55607,277,prior,3,5,12,0.0
3,55608,277,prior,4,5,7,0.0
4,55609,277,prior,5,5,15,0.0

In [ ]:
'''Loading Products Data'''

print('loading products')
print('\n')
products_data = pd.read_csv('/content/products.csv', dtype={
        'product_id': np.uint16,
        'order_id': np.int32,
        'aisle_id': np.uint8,
        'department_id': np.uint8},
         usecols=['product_id', 'aisle_id', 'department_id'])
products_product_id = list(products_data['product_id'])
# products_product_name = list(products_data['product_name'])
products_aisle_id = list(products_data['aisle_id'])
products_department_id = list(products_data['department_id'])

print(products_product_id)
print('\n')
# print(products_product_name)
print('\n')
print(products_aisle_id)
print('\n')
print(products_department_id)

loading products


[40601, 40617, 40650, 40733, 40745, 40590, 40630, 40643, 40769, 40587, 40588, 40589, 40594, 40627, 40690, 40750, 40753, 40760, 40771, 40773, 40774, 40841, 40962, 40578, 40579, 40632, 40672, 40723, 40811, 40615, 40631, 40726, 40796, 40734, 40757, 40582, 40613, 40633, 40637, 40669, 40696, 40924, 40593, 40586, 40626, 40806, 40844, 40848, 41256, 41266, 41275, 41280, 40646, 40797, 40621, 40724, 40649, 40651, 40729, 40735, 40799, 40618, 40722, 40876, 40945, 40583, 40758, 40798, 40635, 40577, 40859, 40731, 40863, 40611, 40658, 40928, 40801, 40602, 40714, 40648, 40839, 40870, 40628, 40647, 40923, 40629, 40614, 40812, 40692, 40889, 40595, 40585, 40619]




[1, 1, 2, 4, 1, 1, 1, 1, 4, 1, 1, 1, 4, 1, 1, 1, 1, 2, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 1, 1, 4, 1, 4, 1, 4, 4, 1, 2, 1, 1, 1, 4, 4, 1, 1, 1, 1, 1, 1, 2, 2, 4, 1, 2, 1, 1, 4, 4, 1, 1, 2, 1, 1, 4, 4, 1, 4, 4, 1, 4, 4, 2, 2, 1, 1, 1, 4, 4, 4, 2, 2, 4, 1, 4, 4, 1]


[4, 4, 3, 1, 4, 4, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 4, 3, 4, 3, 4, 4, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 1, 4, 1, 4, 1, 1, 4, 3, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 4, 3, 3, 1, 4, 3, 4, 4, 1, 1, 4, 4, 3, 4, 4, 1, 1, 4, 1, 1, 4, 1, 1, 3, 3, 4, 4, 4, 1, 1, 1, 3, 3, 1, 4, 1, 1, 4]

In [ ]:
products_data.head()

   product_id  aisle_id  department_id
0       40601         1              4
1       40617         1              4
2       40650         2              3
3       40733         4              1
4       40745         1              4

In [ ]:
products_data.shape

(93, 3)

In [ ]:
features_products = list(products_data.columns.values)
print(features_products)
# pre-processing datasets, replacing the null values with null string
for feature in features_products:
  products_data[feature] = products_data[feature].fillna('')

['product_id', 'aisle_id', 'department_id']

In [ ]:
products_data.dtypes

product_id       uint16
aisle_id          uint8
department_id     uint8
dtype: object

In [ ]:
print('priors {}: {}'.format(ordered_products_prior_data.shape, ', '.join(ordered_products_prior_data.columns)))
print('train {}: {}'.format(training_data.shape, ', '.join(training_data.columns)))
print('orders {}: {}'.format(orders_data.shape, ', '.join(orders_data.columns)))
print('products {}: {}'.format(products_data.shape, ', '.join(products_data.columns)))

priors (498, 4): order_id, product_id, add_to_cart_order, reordered
train (758, 4): order_id, product_id, add_to_cart_order, reordered
orders (245, 7): order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order
products (93, 3): product_id, aisle_id, department_id

In [ ]:
print('computing product frequency')
prods = pd.DataFrame()
print(prods)
# prods['orders'] = ordered_products_prior_data.groupby(ordered_products_prior_data.product_id).size().astype(np.int32)
# prods['reorders'] = ordered_products_prior_data['reordered'].groupby(ordered_products_prior_data.product_id).sum().astype(np.float32)
prods['orders'] = ordered_products_prior_data.groupby(ordered_products_prior_data.product_id).size().astype(np.int32)
prods['reorders'] = ordered_products_prior_data['reordered'].groupby(ordered_products_prior_data.product_id).sum().astype(np.float32)
# print(ordered_products_prior_data)
prods

computing product frequency
Empty DataFrame
Columns: []
Index: []

            orders  reorders
product_id
40577            2       1.0
40578            3       2.0
40579            6       5.0
40582            7       6.0
40583            5       4.0
...            ...       ...
40962            4       3.0
41256            1       0.0
41266            1       0.0
41275            1       0.0
41280            1       0.0

[82 rows x 2 columns]

In [ ]:
prods['reorder_rate'] = (prods.reorders / prods.orders).astype(np.float32)
prods

            orders  reorders  reorder_rate
product_id
40577            2       1.0      0.500000
40578            3       2.0      0.666667
40579            6       5.0      0.833333
40582            7       6.0      0.857143
40583            5       4.0      0.800000
...            ...       ...           ...
40962            4       3.0      0.750000
41256            1       0.0      0.000000
41266            1       0.0      0.000000
41275            1       0.0      0.000000
41280            1       0.0      0.000000

[82 rows x 3 columns]

In [ ]:
prods.reset_index(drop = False, inplace = True)
prods

    product_id  orders  reorders  reorder_rate
0        40577       2       1.0      0.500000
1        40578       3       2.0      0.666667
2        40579       6       5.0      0.833333
3        40582       7       6.0      0.857143
4        40583       5       4.0      0.800000
..         ...     ...       ...           ...
77       40962       4       3.0      0.750000
78       41256       1       0.0      0.000000
79       41266       1       0.0      0.000000
80       41275       1       0.0      0.000000
81       41280       1       0.0      0.000000

[82 rows x 4 columns]

In [ ]:
print(products_data)
products_data.reset_index(drop = True, inplace = True)
products_data

    product_id  aisle_id  department_id
0        40601         1              4
1        40617         1              4
2        40650         2              3
3        40733         4              1
4        40745         1              4
..         ...       ...            ...
88       40692         4              1
89       40889         1              4
90       40595         4              1
91       40585         4              1
92       40619         1              4

[93 rows x 3 columns]

    product_id  aisle_id  department_id
0        40601         1              4
1        40617         1              4
2        40650         2              3
3        40733         4              1
4        40745         1              4
..         ...       ...            ...
88       40692         4              1
89       40889         1              4
90       40595         4              1
91       40585         4              1
92       40619         1              4

[93 rows x 3 columns]

In [ ]:
products_data = pd.merge(products_data,prods,on='product_id')
products_data

    product_id  aisle_id  department_id  orders  reorders  reorder_rate
0        40601         1              4      23      22.0      0.956522
1        40617         1              4       6       5.0      0.833333
2        40650         2              3      21      20.0      0.952381
3        40733         4              1      12      11.0      0.916667
4        40745         1              4      17      16.0      0.941176
..         ...       ...            ...     ...       ...           ...
77       40602         4              1       2       1.0      0.500000
78       40714         2              3       1       0.0      0.000000
79       40648         2              3       4       3.0      0.750000
80       40839         1              4       1       0.0      0.000000
81       40870         1              4       1       0.0      0.000000

[82 rows x 6 columns]

In [ ]:
products_data.set_index("product_id",drop=False,inplace = True)
products_data

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
40601,40601,1,4,23,22.0,0.956522
40617,40617,1,4,6,5.0,0.833333
40650,40650,2,3,21,20.0,0.952381
40733,40733,4,1,12,11.0,0.916667
40745,40745,1,4,17,16.0,0.941176
...,...,...,...,...,...,...
40602,40602,4,1,2,1.0,0.500000
40714,40714,2,3,1,0.0,0.000000
40648,40648,2,3,4,3.0,0.750000
40839,40839,1,4,1,0.0,0.000000
40870,40870,1,4,1,0.0,0.000000

In [ ]:
del prods

In [ ]:
products_data

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
40601,40601,1,4,23,22.0,0.956522
40617,40617,1,4,6,5.0,0.833333
40650,40650,2,3,21,20.0,0.952381
40733,40733,4,1,12,11.0,0.916667
40745,40745,1,4,17,16.0,0.941176
...,...,...,...,...,...,...
40602,40602,4,1,2,1.0,0.500000
40714,40714,2,3,1,0.0,0.000000
40648,40648,2,3,4,3.0,0.750000
40839,40839,1,4,1,0.0,0.000000
40870,40870,1,4,1,0.0,0.000000

In [ ]:
products_data.set_index(["product_id"])
products_data

,product_id,aisle_id,department_id,orders,reorders,reorder_rate
product_id,,,,,,
40601,40601,1,4,23,22.0,0.956522
40617,40617,1,4,6,5.0,0.833333
40650,40650,2,3,21,20.0,0.952381
40733,40733,4,1,12,11.0,0.916667
40745,40745,1,4,17,16.0,0.941176
...,...,...,...,...,...,...
40602,40602,4,1,2,1.0,0.500000
40714,40714,2,3,1,0.0,0.000000
40648,40648,2,3,4,3.0,0.750000
40839,40839,1,4,1,0.0,0.000000
40870,40870,1,4,1,0.0,0.000000

In [ ]:
print('add order info to priors')
orders_data.set_index('order_id', inplace=True, drop=False)
# orders_data
print(orders_data)

add order info to priors
          order_id  user_id eval_set  order_number  order_dow  \
order_id
55605        55605      277    prior             1          5
55606        55606      277    prior             2          5
55607        55607      277    prior             3          5
55608        55608      277    prior             4          5
55609        55609      277    prior             5          5
...            ...      ...      ...           ...        ...
63584        63584      277     test           241          5
63618        63618      277     test           242          5
63619        63619      277     test           243          5
63715        63715      277     test           244          6
63720        63720      277     test           245          6

          order_hour_of_day  days_since_prior_order
order_id
55605                     8                     NaN
55606                     7                     0.0
55607                    12                     0.0
55608                     7                     0.0
55609                    15                     0.0
...                     ...                     ...
63584                    11                     0.0
63618                     9                     0.0
63619                    10                     0.0
63715                     9                     1.0
63720                     9                     0.0

[245 rows x 7 columns]

In [ ]:
ordered_products_prior_data = ordered_products_prior_data.join(orders_data, on='order_id', rsuffix='_')
print(ordered_products_prior_data)

     order_id  product_id  add_to_cart_order  reordered  order_id_  user_id  \
0       55605       40601                  1          0      55605      277
1       55605       40617                  3          0      55605      277
2       55605       40650                 10          0      55605      277
3       55605       40733                  2          0      55605      277
4       55605       40745                  1          0      55605      277
..        ...         ...                ...        ...        ...      ...
493     58127       40587                  8          1      58127      277
494     58127       40590                 10          1      58127      277
495     58127       40643                 30          1      58127      277
496     58127       40690                 10          1      58127      277
497     58127       40760                  1          1      58127      277

    eval_set  order_number  order_dow  order_hour_of_day  \
0      prior             1          5                  8
1      prior             1          5                  8
2      prior             1          5                  8
3      prior             1          5                  8
4      prior             1          5                  8
..       ...           ...        ...                ...
493    prior            81          2                 14
494    prior            81          2                 14
495    prior            81          2                 14
496    prior            81          2                 14
497    prior            81          2                 14

     days_since_prior_order
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
..                      ...
493                     0.0
494                     0.0
495                     0.0
496                     0.0
497                     0.0

[498 rows x 11 columns]

In [ ]:
ordered_products_prior_data.drop('order_id_', inplace=True, axis=1)
print(orders_data)
print('\n')
print(ordered_products_prior_data)

          order_id  user_id eval_set  order_number  order_dow  \
order_id
55605        55605      277    prior             1          5
55606        55606      277    prior             2          5
55607        55607      277    prior             3          5
55608        55608      277    prior             4          5
55609        55609      277    prior             5          5
...            ...      ...      ...           ...        ...
63584        63584      277     test           241          5
63618        63618      277     test           242          5
63619        63619      277     test           243          5
63715        63715      277     test           244          6
63720        63720      277     test           245          6

          order_hour_of_day  days_since_prior_order
order_id
55605                     8                     NaN
55606                     7                     0.0
55607                    12                     0.0
55608                     7                     0.0
55609                    15                     0.0
...                     ...                     ...
63584                    11                     0.0
63618                     9                     0.0
63619                    10                     0.0
63715                     9                     1.0
63720                     9                     0.0

[245 rows x 7 columns]


     order_id  product_id  add_to_cart_order  reordered  user_id eval_set  \
0       55605       40601                  1          0      277    prior
1       55605       40617                  3          0      277    prior
2       55605       40650                 10          0      277    prior
3       55605       40733                  2          0      277    prior
4       55605       40745                  1          0      277    prior
..        ...         ...                ...        ...      ...      ...
493     58127       40587                  8          1      277    prior
494     58127       40590                 10          1      277    prior
495     58127       40643                 30          1      277    prior
496     58127       40690                 10          1      277    prior
497     58127       40760                  1          1      277    prior

     order_number  order_dow  order_hour_of_day  days_since_prior_order
0               1          5                  8                     NaN
1               1          5                  8                     NaN
2               1          5                  8                     NaN
3               1          5                  8                     NaN
4               1          5                  8                     NaN
..            ...        ...                ...                     ...
493            81          2                 14                     0.0
494            81          2                 14                     0.0
495            81          2                 14                     0.0
496            81          2                 14                     0.0
497            81          2                 14                     0.0

[498 rows x 10 columns]

In [ ]:
print('computing user f')
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders_data.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders_data.groupby('user_id').size().astype(np.int16)
usr

computing user f

         average_days_between_orders  nb_orders
user_id
277                         0.348361        245

In [ ]:
users = pd.DataFrame()
users['total_items'] = ordered_products_prior_data.groupby('user_id').size().astype(np.int16)
users['all_products'] = ordered_products_prior_data.groupby('user_id')['product_id'].apply(set)
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)
users = users.join(usr)   #joined both the dataframes and dropped the useless dataframe usr

del usr
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)      #this user feature gives Avg. Items in single time buy
print('user f', users.shape)
users

user f (1, 6)

,total_items,all_products,total_distinct_items,average_days_between_orders,nb_orders,average_basket
user_id,,,,,,
277,498,"{40962, 40577, 40578, 40579, 40582, 40583, 405...",82,0.348361,245,2.032653

In [ ]:
users.columns

Index(['total_items', 'all_products', 'total_distinct_items',
       'average_days_between_orders', 'nb_orders', 'average_basket'],
      dtype='object')

In [ ]:
print('compute userXproduct f - this is long...')
ordered_products_prior_data['user_product'] = ordered_products_prior_data.product_id + ordered_products_prior_data.user_id * 100000

# This was to slow !!
#def last_order(order_group):
#    ix = order_group.order_number.idxmax
#    return order_group.shape[0], order_group.order_id[ix],  order_group.add_to_cart_order.mean()
#userXproduct = pd.DataFrame()
#userXproduct['tmp'] = df.groupby('user_product').apply(last_order)

compute userXproduct f - this is long...

In [ ]:
ordered_products_prior_data

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,user_product
0,55605,40601,1,0,277,prior,1,5,8,NaN,27740601
1,55605,40617,3,0,277,prior,1,5,8,NaN,27740617
2,55605,40650,10,0,277,prior,1,5,8,NaN,27740650
3,55605,40733,2,0,277,prior,1,5,8,NaN,27740733
4,55605,40745,1,0,277,prior,1,5,8,NaN,27740745
...,...,...,...,...,...,...,...,...,...,...,...
493,58127,40587,8,1,277,prior,81,2,14,0.0,27740587
494,58127,40590,10,1,277,prior,81,2,14,0.0,27740590
495,58127,40643,30,1,277,prior,81,2,14,0.0,27740643
496,58127,40690,10,1,277,prior,81,2,14,0.0,27740690
497,58127,40760,1,1,277,prior,81,2,14,0.0,27740760

In [ ]:
d= dict()
for row in ordered_products_prior_data.itertuples():
    z = row.user_product           #we have defined this in last cell
    if z not in d:
        d[z] = (1,
                (row.order_number, row.order_id),
                row.add_to_cart_order)
    else:
        d[z] = (d[z][0] + 1,
                max(d[z][1], (row.order_number, row.order_id)),
                d[z][2] + row.add_to_cart_order)

print('to dataframe (less memory)')
userXproduct = pd.DataFrame.from_dict(d, orient='index')
del d
userXproduct.columns = ['nb_orders', 'last_order_id', 'sum_pos_in_cart']
userXproduct.nb_orders = userXproduct.nb_orders.astype(np.int16)
userXproduct.last_order_id = userXproduct.last_order_id.map(lambda x: x[1]).astype(np.int32)
userXproduct.sum_pos_in_cart = userXproduct.sum_pos_in_cart.astype(np.int16)
print('user X product f', len(userXproduct))
print(userXproduct)
del ordered_products_prior_data

to dataframe (less memory)
user X product f 82
          nb_orders  last_order_id  sum_pos_in_cart
27740601         23          57836               41
27740617          6          57444                8
27740650         21          57892              134
27740733         12          57198               23
27740745         17          57444               23
...             ...            ...              ...
27740602          2          57836                5
27740714          1          57363                3
27740648          4          58027               13
27740839          1          58125                1
27740870          1          58125                0

[82 rows x 3 columns]

In [ ]:
### train / test orders ###
print('split orders : train, test')
test_orders = orders_data[orders_data.eval_set == 'test']
train_orders = orders_data[orders_data.eval_set == 'train']

training_data.set_index(['order_id', 'product_id'], inplace=True, drop=False)

split orders : train, test

In [ ]:
#features extracter for any dataset
def features(selected_orders, labels_given=False):
    print('build candidate list')
    order_list = []
    product_list = []
    labels = []
    i=0
    for row in selected_orders.itertuples():
        i+=1
        if i%10000 == 0: print('order row',i)
        order_id = row.order_id
        user_id = row.user_id
        user_products = users.all_products[user_id]
        product_list += user_products
        order_list += [order_id] * len(user_products)
        if labels_given:
            labels += [(order_id, product) in training_data.index for product in user_products]
        
    df = pd.DataFrame({'order_id':order_list, 'product_id':product_list}, dtype=np.int32)
    labels = np.array(labels, dtype=np.int8)
    del order_list
    del product_list
    
    print('user related features')
    df['user_id'] = df.order_id.map(orders_data.user_id)
    df['user_total_orders'] = df.user_id.map(users["nb_orders"])
    df['user_total_items'] = df.user_id.map(users.total_items)
    df['total_distinct_items'] = df.user_id.map(users.total_distinct_items)
    df['user_average_days_between_orders'] = df.user_id.map(users.average_days_between_orders)
    df['user_average_basket'] =  df.user_id.map(users.average_basket)
    
    print('order related features')
    # df['dow'] = df.order_id.map(orders.order_dow)
    df['order_hour_of_day'] = df.order_id.map(orders_data.order_hour_of_day)
    df['days_since_prior_order'] = df.order_id.map(orders_data.days_since_prior_order)
    df['days_since_ratio'] = df.days_since_prior_order / df.user_average_days_between_orders
    
    print('product related features')
    df['aisle_id'] = df.product_id.map(products_data.aisle_id)
    df['department_id'] = df.product_id.map(products_data.department_id)
    df['product_orders'] = df.product_id.map(products_data.orders).astype(np.int32)
    df['product_reorders'] = df.product_id.map(products_data.reorders)
    df['product_reorder_rate'] = df.product_id.map(products_data.reorder_rate)

    print('user_X_product related features')
    df['z'] = df.user_id * 100000 + df.product_id
    df.drop(['user_id'], axis=1, inplace=True)
    df['UP_orders'] = df.z.map(userXproduct.nb_orders)
    df['UP_orders_ratio'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_last_order_id'] = df.z.map(userXproduct.last_order_id)
    df['UP_average_pos_in_cart'] = (df.z.map(userXproduct.sum_pos_in_cart) / df.UP_orders).astype(np.float32)
    df['UP_reorder_rate'] = (df.UP_orders / df.user_total_orders).astype(np.float32)
    df['UP_orders_since_last'] = df.user_total_orders - df.UP_last_order_id.map(orders_data.order_number)
    df['UP_delta_hour_vs_last'] = abs(df.order_hour_of_day - df.UP_last_order_id.map(orders_data.order_hour_of_day)).map(lambda x: min(x, 24-x)).astype(np.int8)
    #df['UP_same_dow_as_last_order'] = df.UP_last_order_id.map(orders.order_dow) == \
    #                                              df.order_id.map(orders.order_dow)

    df.drop(['UP_last_order_id', 'z'], axis=1, inplace=True)
    print(df.dtypes)
    print(df.memory_usage())
    return (df, labels)

In [ ]:
df_train, labels = features(train_orders, labels_given=True)

build candidate list
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                 128
order_id                            40344
product_id                          40344
user_total_orders                   20172
user_total_items                    20172
total_distinct_items                20172
user_average_days_between_orders    40344
user_average_basket                 40344
order_hour_of_day                   10086
days_since_prior_order              40344
days_since_ratio                    40344
aisle_id                            10086
department_id                       10086
product_orders                      40344
product_reorders                    40344
product_reorder_rate                40344
UP_orders                           20172
UP_orders_ratio                     40344
UP_average_pos_in_cart              40344
UP_reorder_rate                     40344
UP_orders_since_last                20172
UP_delta_hour_vs_last               10086
dtype: int64

In [ ]:
f_to_use = ['user_total_orders', 'user_total_items', 'total_distinct_items',
       'user_average_days_between_orders', 'user_average_basket',
       'order_hour_of_day', 'days_since_prior_order', 'days_since_ratio',
       'aisle_id', 'department_id', 'product_orders', 'product_reorders',
       'product_reorder_rate', 'UP_orders', 'UP_orders_ratio',
       'UP_average_pos_in_cart', 'UP_reorder_rate', 'UP_orders_since_last',
       'UP_delta_hour_vs_last'] # 'dow', 'UP_same_dow_as_last_order'


print('formating for lgb')
d_train = lgb.Dataset(df_train[f_to_use],
                      label=labels,
                      categorical_feature=['aisle_id', 'department_id'])  # , 'order_hour_of_day', 'dow'
del df_train

formating for lgb

In [ ]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': {'binary_logloss'},
    'num_leaves': 96,
    'max_depth': 10,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.95,
    'bagging_freq': 5
}
ROUNDS = 100

print('light GBM train :-)')
bst = lgb.train(params, d_train, ROUNDS)
# lgb.plot_importance(bst, figsize=(9,20))
del d_train

light GBM train :-)

/usr/local/lib/python3.8/dist-packages/lightgbm/basic.py:1205: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

In [ ]:
df_test, _ = features(test_orders)

print('light GBM predict')
preds = bst.predict(df_test[f_to_use])

df_test['pred'] = preds

TRESHOLD = 0.31  # guess, should be tuned with crossval on a subset of train data

d = dict()
for row in df_test.itertuples():
    if row.pred > TRESHOLD:
        try:
            d[row.order_id] += ' ' + str(row.product_id)
        except:
            d[row.order_id] = str(row.product_id)

for order in test_orders.order_id:
    if order not in d:
        d[order] = 'None'

sub = pd.DataFrame.from_dict(d, orient='index')

sub.reset_index(inplace=True)
sub.columns = ['order_id', 'products']
sub.to_csv('sub.csv', index=False)

build candidate list
user related features
order related features
product related features
user_X_product related features
order_id                              int32
product_id                            int32
user_total_orders                     int16
user_total_items                      int16
total_distinct_items                  int16
user_average_days_between_orders    float32
user_average_basket                 float32
order_hour_of_day                      int8
days_since_prior_order              float32
days_since_ratio                    float32
aisle_id                              uint8
department_id                         uint8
product_orders                        int32
product_reorders                    float32
product_reorder_rate                float32
UP_orders                             int16
UP_orders_ratio                     float32
UP_average_pos_in_cart              float32
UP_reorder_rate                     float32
UP_orders_since_last                  int16
UP_delta_hour_vs_last                  int8
dtype: object
Index                                 128
order_id                            13448
product_id                          13448
user_total_orders                    6724
user_total_items                     6724
total_distinct_items                 6724
user_average_days_between_orders    13448
user_average_basket                 13448
order_hour_of_day                    3362
days_since_prior_order              13448
days_since_ratio                    13448
aisle_id                             3362
department_id                        3362
product_orders                      13448
product_reorders                    13448
product_reorder_rate                13448
UP_orders                            6724
UP_orders_ratio                     13448
UP_average_pos_in_cart              13448
UP_reorder_rate                     13448
UP_orders_since_last                 6724
UP_delta_hour_vs_last                3362
dtype: int64
light GBM predict

In [ ]:
# pd.read_csv(IDIR+"")
df_test

,order_id,product_id,user_total_orders,user_total_items,total_distinct_items,user_average_days_between_orders,user_average_basket,order_hour_of_day,days_since_prior_order,days_since_ratio,...,product_orders,product_reorders,product_reorder_rate,UP_orders,UP_orders_ratio,UP_average_pos_in_cart,UP_reorder_rate,UP_orders_since_last,UP_delta_hour_vs_last,pred
0,62408,40962,245,498,82,0.348361,2.032653,16,1.0,2.870588,...,4,3.0,0.750000,4,0.016327,12.500000,0.016327,191,0,0.001154
1,62408,40577,245,498,82,0.348361,2.032653,16,1.0,2.870588,...,2,1.0,0.500000,2,0.008163,2.000000,0.008163,169,8,0.010214
2,62408,40578,245,498,82,0.348361,2.032653,16,1.0,2.870588,...,3,2.0,0.666667,3,0.012245,2.666667,0.012245,184,1,0.250201
3,62408,40579,245,498,82,0.348361,2.032653,16,1.0,2.870588,...,6,5.0,0.833333,6,0.024490,5.666667,0.024490,171,7,0.054223
4,62408,40582,245,498,82,0.348361,2.032653,16,1.0,2.870588,...,7,6.0,0.857143,7,0.028571,1.142857,0.028571,171,7,0.413263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,63720,40870,245,498,82,0.348361,2.032653,9,0.0,0.000000,...,1,0.0,0.000000,1,0.004082,0.000000,0.004082,165,8,0.001057
3358,63720,40876,245,498,82,0.348361,2.032653,9,0.0,0.000000,...,1,0.0,0.000000,1,0.004082,30.000000,0.004082,221,2,0.000035
3359,63720,40924,245,498,82,0.348361,2.032653,9,0.0,0.000000,...,10,9.0,0.900000,10,0.040816,2.400000,0.040816,165,8,0.000479
3360,63720,40928,245,498,82,0.348361,2.032653,9,0.0,0.000000,...,1,0.0,0.000000,1,0.004082,1.000000,0.004082,197,9,0.000122
3361,63720,40945,245,498,82,0.348361,2.032653,9,0.0,0.000000,...,1,0.0,0.000000,1,0.004082,6.000000,0.004082,220,1,0.000030

In [ ]:
test_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
order_id,,,,,,,
62408,62408,277,test,205,6,16,1.0
62453,62453,277,test,206,6,16,0.0
62454,62454,277,test,207,6,12,0.0
62455,62455,277,test,208,6,9,0.0
62530,62530,277,test,209,7,13,1.0
62577,62577,277,test,210,1,14,1.0
62602,62602,277,test,211,1,14,0.0
62604,62604,277,test,212,1,12,0.0
62792,62792,277,test,213,3,12,2.0
62794,62794,277,test,214,3,13,0.0
62859,62859,277,test,215,4,17,1.0
62913,62913,277,test,216,4,4,0.0
62915,62915,277,test,217,4,16,0.0
62916,62916,277,test,218,4,17,0.0
62995,62995,277,test,219,5,10,1.0
62996,62996,277,test,220,5,16,0.0
63030,63030,277,test,221,6,11,1.0
63081,63081,277,test,222,6,11,0.0
63082,63082,277,test,223,6,11,0.0
63102,63102,277,test,224,7,10,1.0
63138,63138,277,test,225,7,9,0.0
63162,63162,277,test,226,7,13,0.0
63203,63203,277,test,227,1,14,1.0
63249,63249,277,test,228,1,14,0.0
63265,63265,277,test,229,2,6,1.0
63281,63281,277,test,230,2,9,0.0
63337,63337,277,test,231,2,13,0.0
63338,63338,277,test,232,2,10,0.0
63420,63420,277,test,233,3,10,1.0
63421,63421,277,test,234,3,15,0.0
63461,63461,277,test,235,4,9,1.0
63464,63464,277,test,236,4,11,0.0
63521,63521,277,test,237,4,9,0.0
63522,63522,277,test,238,4,9,0.0
63580,63580,277,test,239,5,11,1.0
63581,63581,277,test,240,5,15,0.0
63584,63584,277,test,241,5,11,0.0
63618,63618,277,test,242,5,9,0.0
63619,63619,277,test,243,5,10,0.0
63715,63715,277,test,244,6,9,1.0
63720,63720,277,test,245,6,9,0.0

In [ ]:
test = pd.read_csv("/content/test.csv")
test

     order_id  product_id  add_to_cart_order  reordered
0       62408       40588                3.0          1
1       62408       40589                3.0          1
2       62408       40594               80.0          1
3       62408       40630                5.0          1
4       62408       40690               10.0          1
..        ...         ...                ...        ...
224     63720       40630               10.0          1
225     63720       40643               40.0          1
226     63720       40690               15.0          1
227     63720       40729                1.0          1
228     63720       40774               30.0          1

[229 rows x 4 columns]

In [ ]:
order_id1 = list(test.order_id)

In [ ]:
products1 = list(test.product_id)

In [ ]:
order_id_test = set(order_id1)
test_dict = {}
for id in order_id_test:
    temp = test[test["order_id"]==id]
    temp1 = list(temp["product_id"])
    test_dict[id] = temp1

In [ ]:
test_dict

{63618: [40587, 40588, 40589, 40632, 40649, 40669, 40672, 40724, 40760],
 63619: [40617, 40643, 40773, 40801],
 62602: [40586, 40626, 40643, 40806, 40844, 40848],
 62859: [40586, 40590, 40635],
 62604: [40611, 40617, 40797],
 63249: [40611, 40773],
 62995: [40579,
  40583,
  40587,
  40588,
  40601,
  40629,
  40643,
  40672,
  40690,
  40760,
  40769],
 62996: [40745, 40769, 40773, 40923],
 63265: [40587, 40588, 40589, 40594, 40601, 40619, 40690, 40714, 40760, 40774],
 63138: [40587, 40632, 40648, 40658, 40724, 40729, 40760, 40806, 40923],
 63521: [40617, 40646, 40650, 40923],
 63522: [40647, 40649, 40733],
 63281: [40646, 40650, 40733, 40773],
 63030: [40962],
 63162: [40601, 40650, 40658],
 63420: [40579, 40587, 40588, 40589, 40629, 40630, 40648, 40690, 40760, 40773],
 63421: [40635, 40643],
 62913: [40617, 40646, 40649, 40650, 40773],
 62530: [40587,
  40588,
  40589,
  40627,
  40629,
  40631,
  40648,
  40690,
  40753,
  40760,
  40771,
  40774,
  40806,
  40841,
  40923],
 62915: [40579,
  40582,
  40587,
  40588,
  40589,
  40613,
  40615,
  40618,
  40760,
  40798,
  40962],
 62916: [40962],
 62408: [40588, 40589, 40594, 40630, 40690],
 62792: [40586, 40724, 40735, 40760],
 62794: [40587,
  40630,
  40632,
  40637,
  40648,
  40650,
  40696,
  40726,
  40735,
  40760,
  40774,
  40841],
 63580: [40586, 40590, 40724, 40735],
 63581: [40629, 40773, 40945],
 63584: [40587, 40588, 40589, 40590, 40633, 40669, 40760, 40774],
 63203: [40586, 40630, 40643, 40760, 40806, 40844, 40848, 40863, 40863],
 63715: [40962],
 63461: [40962],
 63464: [40962],
 63081: [40611, 40773],
 63082: [40594, 40614, 40615, 40760, 40774, 40841],
 63337: [40586, 40587, 40590, 40690, 40724, 40760],
 63338: [40579, 40594, 40613, 40615, 40629, 40643, 40760, 40841],
 63720: [40582, 40590, 40613, 40630, 40643, 40690, 40729, 40774],
 62577: [40587,
  40588,
  40589,
  40594,
  40613,
  40627,
  40629,
  40630,
  40643,
  40753,
  40760,
  40771,
  40774],
 62453: [40643, 40672, 40690, 40760, 40870],
 62454: [40587, 40590, 40630, 40643],
 62455: [40646, 40658, 40733, 40773],
 63102: [40618, 40724, 40745, 40757, 40797]}

In [ ]:
order_id_test

{62408,
 62453,
 62454,
 62455,
 62530,
 62577,
 62602,
 62604,
 62792,
 62794,
 62859,
 62913,
 62915,
 62916,
 62995,
 62996,
 63030,
 63081,
 63082,
 63102,
 63138,
 63162,
 63203,
 63249,
 63265,
 63281,
 63337,
 63338,
 63420,
 63421,
 63461,
 63464,
 63521,
 63522,
 63580,
 63581,
 63584,
 63618,
 63619,
 63715,
 63720}

In [ ]:
pred_dict = {}

In [ ]:
for i in sub.index:
  pred_dict[sub["order_id"][i]] = sub["products"][i]

In [ ]:
pred_dict

{62408: '40582 40587 40588 40589 40590 40594 40630 40632 40637 40643 40648 40649 40690 40696 40724 40760 40774',
 62453: '40586 40630',
 62454: '40587 40643 40760 40773',
 62455: '40760',
 62530: '40582 40587 40588 40589 40594 40613 40669 40760',
 62577: '40587 40594 40643 40760',
 62602: '40587 40643 40650 40760',
 62604: '40587 40643 40760 40773',
 62792: '40594',
 62794: '40586 40587 40643',
 62859: '40582 40588 40690 40760',
 62913: '40587 40590 40594 40630 40632 40648 40690 40760 40774 40796',
 62915: '40586 40630',
 62916: '40587 40601 40690 40760 40774',
 62995: '40643 40650 40724 40760',
 62996: '40586 40630',
 63030: '40579 40582 40587 40588 40589 40594 40613 40643 40760 40773 40841',
 63081: '40760',
 63082: '40760',
 63102: '40643 40650 40724 40760',
 63138: '40760',
 63162: '40586 40587 40643',
 63203: '40587 40594 40643 40760',
 63249: '40587 40643 40650 40760',
 63265: '40587 40588 40589 40594 40690 40760',
 63281: '40760',
 63337: '40586 40587 40643',
 63338: '40587 40594 40650 40760',
 63420: '40643 40650 40724 40760',
 63421: '40650',
 63461: '40587 40588 40589 40601 40630 40631 40643 40650 40690 40760 40773 40806',
 63464: '40760',
 63521: '40760',
 63522: '40760',
 63580: '40579 40582 40587 40588 40589 40594 40613 40643 40760 40773 40841',
 63581: '40650',
 63584: '40760',
 63618: '40760',
 63619: '40587 40594 40650 40760',
 63715: '40587 40588 40589 40601 40630 40631 40643 40650 40690 40760 40773 40806',
 63720: '40760'}

In [ ]:
def sim(test,pred):    #defining simmilarity index between two lists of products 
  count = 0
  for i in test:
     if str(i) in pred:
       count = count + 1 
  score = float(count) /float(len(pred))
  return score

pred_score = []
for id in list(pred_dict.keys()):
  pred_score.append(sim(test_dict[id],list(pred_dict[id].split(" "))))

In [ ]:
pred_score

[0.29411764705882354,
 0.0,
 0.5,
 0.0,
 0.5,
 1.0,
 0.25,
 0.0,
 0.0,
 0.3333333333333333,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.0,
 0.0,
 0.0,
 1.0,
 0.25,
 1.0,
 0.0,
 0.5,
 0.0,
 1.0,
 0.0,
 0.6666666666666666,
 0.5,
 0.25,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0]

In [ ]:
sum(pred_score)/len(pred_score) #avg prediction success rate for, could be changed by varing threshold value

0.25717360114777615